
:root{
    --primary-color--:#4981ff;
    --light-color--:#f4f6f4;
    --dark-color--:#111;
  }
  * {
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }
    
    ul {
      list-style: none;
    }
    
    a {
      cursor: pointer;
      text-decoration: none;
      color: #333;
  
    }
    
    .navbar {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .container {
      max-width: 1100px;
      margin: 0 auto;
    }
    .card{
      background: #fff;
      color: #000;
      border-radius: 10px;
      padding: 20px;
    }
    
    .main-menu {
      display: flex;
      gap: 24px;
    }
    
    .link,
    .btn-login {
      font-weight: 600;
    }
    
    .link:hover,
    .btn-login:hover {
      color: #4891ff;
      opacity: 0.8;
      transition: 0.5s;
    }
    
    .btn-login {
      padding: 10px 20px;
      background-color: #f4f4f6;
      border-radius: 10px;
    }
  
    .btn{
      border-radius: 16px;
      background: #f5f5f5;
      display: inline-block;
      padding: 16px 32px;
      gap: 10px;
      
    }
    .btn-primary{
      background: #4891ff;
      display: inline-block;
      padding: 16px 32px;
      border-radius: 16px;
      color: #f5f5f5;
      
    }
   /* Text */
    .text-xxl{
      font-size: 64px;
      line-height: 1.2;
      font-weight: 600;
      margin: 40px 0 20px;
    }
    .text-xl{
      font-size: 2.2rem;
      line-height: 1.4;
      font-weight: normal;
      margin: 40px 0 20px;
    }
    .text-lg{
      font-size: 1.8rem;
      line-height: 1.4;
      font-weight: normal;
      margin: 30px 0 20px;
    }
    .text-md{
      font-size: 1.2rem;
      line-height: 1.4;
      font-weight: normal;
      margin: 20px 0 10px;
    }
    .text-sm{
      font-size: 0.9rem;
      line-height: 1.4;
      font-weight: normal;
      margin: 10px 0 5px;
    }
    .text-center{
      text-align: center;
    }
   /* Hero */
    .hero{
      margin-bottom: 50px;
    }
    .hero .container{
      background: url(../ASM/img/hero-bg.png) no-repeat; 
      background-size: contain;
      background-position: center bottom;
      height: 550px;
    }
    .hero .hero-content{
      width: 70%;
    }
    .hero .hero-text{
      width: 70%;
      margin-bottom: 20px;
    }
    h2{
      text-align: center;
    }
    .video{
      padding: 10px 0 40px;
    }
    .video-content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .video-preview{
      margin-bottom: 20px;
    }
    /* Background */
    .bg-primary{
      background: var(--primary-color--);
      color: #fff;
    }
    .bg-light{
      background: var(--light-color--);
      color: #333;
    }
    .bg-dark{
      background: var(--dark-color--);
      color: #fff;
    }
    .bg-black{
      background: #000;
      color: #fff;
    }
    /* Testimonials */
    .testimonials{
      padding: 40px 0;
    }
    .testimonials .testimonials-heading{
      width: 700px;
      margin-bottom: 40px;
    }
    .testimonials-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
    .testimonials .card p:nth-child(2){
      margin-top: 30px;
      font-weight: bold;
    }
    /* Pricing */
    .pricing-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 50px; 
    }
    .pricing .pricing-card-subheading{
      margin-bottom: 30px;
    }
    .pricing .pricing-card-price{
      margin-bottom: 30px;
      padding: 1px solid #ccc;
    }
    .pricing ul{
      margin: 30px 0;
    }
    .pricing ul li{
      margin-bottom: 20px;
    }
    .pricing ul li svg{
      margin-right: 10px;
    }